<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="home/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
  .mySlides {display:none;}
</style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Police Station : Gujarat</title>
</head>
<body>
  <div id="blur">
    <div class="left">
        <img src="home/emblem-dark.png" alt="error" height="110px" width="110px">
        <img src="home/xx.png" alt="error" class="kk" height="100px" width="100px">
       
         
    </div>
  <div class="mid">
      <nav class="menu">  
    
          <ul>
              <li><a href="/">Home</a></li>
              <li><a href="#" onclick="cit_toggle()">Citizen Services</a></li>
              <!-- <li><a href="">E-Challan</a></li>
              <li><a href="FIR.html">FIR</a></li> -->
              <li><a href="https://www.gujarattourism.com/">Tourism</a></li>
              <!-- <li><a href="">Cyber Security Cell</a></li> -->
              <li><a href="">Downloads</a></li>
              <li><a href="#" onclick="toggle()">Admin Login</a>
                  
              
              
              </li>
          </ul> 
         
      </nav>
  </div>
      <div class="hpm">

      <div id="sec1" class="sections">
        <div class="alert-box">
            <span class="badge">Announcement</span> <br> 
            <br>
            <p> 1. Latest rules regarding Covid-19. <br> <br>
            2. Police Constable recuriment details <br> <br> 
            3. State high-court order  <br> <br>
            4. Pradhan Mantri Yojana <br> <br>
            5. Latest travel Guidelines <br> <br>
            6. Tender related police station <br> <br>
            7. Officer's entry <br> <br>
            8. Service employment <br> <br>
            9. Police Station Directory Updates <br><br>
            10. Tender related traffic signals <br> <br>
            11. Updates Traffic rules <br> <br>
            12. International Yoga Day


        </p>
          </div>  
      </div>
      <div id="sec2" class="sections">
              <img class="mySlides" src="home/kkj_ccexpress.jpeg" height="518px" width="703.9px">
              <img class="mySlides" src="home/mo.jpg" height="518px" width="703.9px">
              <img class="mySlides" src="home/Modi_Tank.jpg" height="518px" width="703.9px">
          
            
            <script>
            var myIndex = 0;
            carousel();
            
            function carousel() {
              var i;
              var x = document.getElementsByClassName("mySlides");
              for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";  
              }
              myIndex++;
              if (myIndex > x.length) {myIndex = 1}    
              x[myIndex-1].style.display = "block";  
              setTimeout(carousel, 5000); // Change image every 2 seconds
            }
            </script>
      </div>
      <div id="sec3" class="sections">
                <h2><strong>Missions</strong>  </h2>
                <p>The Mission of Uttarakhand Police is prevention and detection of crime, maintenance of law and order and efficient service delivery to citizens.</p>
                <h2><strong>Core Values </strong> </h2>
                <p>In pursuance of our mission, we shall discharge our duties with a sense of service, impartiality and integrity. In addition to our statutory responsibilities, we will endeavour to efficiently assist in rescue and relief operations during disasters. We will also focus on providing a safe and secure environment for investments and tourism in the state.</p>
                <h2><strong>Vision</strong> </h2>
                <p>In this journey, it will be our objective to win the trust and cooperation of the people of the state by being a disciplined and people friendly force. We will also strive to be a modern police force, which is technology savvy. We will also do our utmost to protect the dignity and human rights of the citizens of this country.</p>
      </div>
      <div id="sec4" class="sections">
        <div class="eme">
          <div class="icons-1">
              <h3>Women Helpline Number</h3>
              <button style="font-size:20px">10001304 <i class="fa fa-phone"></i></div>
          <div class="icons-2">
              <h3>Covid-19 Helpline Number</h3>
              <button style="font-size:20px">887496 <i class="fa fa-mobile-phone"></i>
                  
              </div>
          <div class="icons-3">
              <h3>Cyber Helpline</h3>
              <button style="font-size:20px">    9876542313  <i class="fa fa-phone"></i></button></div>
          <div class="icons-4">
              <h3>Police Control Room / Emergency Number  </h3>
              <button style="font-size:20px">   112   <i class="fa fa-mobile-phone"></i></div>
         
  
      </div>
      </div>  


      
    </div> 

    <div class="close">

      <div class="cl_box1">
          <h4>Source : Gujarat Police - Government of Gujarat</h4>
      </div>
          


    <div class="other">
      <p>Site designed and developed by DBMS </p>
      <p><br> Contents of this website is published and managed by Police Department Uttarakhand. For any queries regarding this webiste please contact <a href="">NIC IITV</a></p>
      <p><strong>Copyright 2022 Police Department, Government of Uttarakhand.</strong></p>
</div>

</div> 

<div class="right">
  <img src="home/digital-india.png" alt="error loading">
<!-- <img src="x.png" alt="error_loading" class="modi"> -->              
</div>
</div>





    <div class = "popup" id ="popup"> 
    <img src="home/user.png" alt="" class="in" height="150px" width="150px">
    <h2>Please Identify Yourself</h2>
    <h1 class="loh">Login</h1>
    <form action="/admin/login" method="post">
      <div class="input-field"><input placeholder="Email" id="email" type="text" name="email" class="validate"></div>
      <div class="input-field"><input placeholder="Password" type="password" name="password" class="validate"></div>
      <button class="second-button" type="submit" onclick="admin_login()">Login</button>
    </form>
    <br>
        <!-- <a href="#" onclick="toggle()">Go back</a> --> <br>
        <a href="#" onclick="toggle()" class="back">Go Back</a>
      </div>
      </div>

    </div>





    <script type="text/javascript">
      // const db = require('../config/database_conn')

        function toggle(){
          var blur = document.getElementById('blur');
          blur.classList.toggle('active');
          var popup = document.getElementById('popup');
          popup.classList.toggle('active')
        }

        // function admin_login(){
        //     const email = document.getElementById('email').value;

        //     db.query('SELECT * FROM citizen WHERE email = ?', [email], async (error, result)=>{
        //       if(error){
        //           console.log(error)
        //       }

        //       if(result.length == 1){

        //           localStorage.setItem("user", result);
                  
        //       }
        //       else{
        //           return res.render('register', {
        //               message: 'Please register !!!'
        //           })
        //           // return window.alert("Please register !!!")
        //       }
        //     })

        // }
        function admin_login(){
            const email = document.getElementById('email').value;

            localStorage.setItem("user", email);
        }

    </script>

    <div class="popup" id ="cit_popup">

      <img src="home/user.png" alt="" class="in" height="150px" width="150px">
      <h2>Please Identify Yourself</h2>
      <h1 class="loh">Login</h1>
      <form action="/auth/login" method="post">
        <div class="input-field"><input placeholder="Email" id="email_citizen" type="text" name="email" class="validate"></div>
        <div class="input-field"><input placeholder="Password" type="password" name="password" class="validate"></div>
        <button class="second-button" onclick="citizen_login()" type="submit">Login</button>
      </form>
      <p>Don't have an account? <a href="/auth/register">Sign Up</a></p>
        
      

      <br>
        <!-- <a href="#" onclick="toggle()">Go back</a> --> <br>
          <a href="#" onclick="cit_toggle()" class="back">Go Back</a>
    </div>

    
                          <!-- citizen login script -->
   <script type="text/javascript">
      function cit_toggle(){
        var blur = document.getElementById('blur');
        blur.classList.toggle('active');
        var popup = document.getElementById('cit_popup');
        popup.classList.toggle('active')
      }
      function citizen_login(){
              const email = document.getElementById('email_citizen').value;

              localStorage.setItem("user", email);
          }
  </script>
</body>
</html>